/*registros*/
table.registros{
		border:0;
		width:100%;
	}
table.registros td{
		border:0;
		
		
	}	
table.registros tr.titulos{
		background:#FFF;
		text-align:center;
		text-transform:uppercase;

	}
table.registros tr.row0{
		background:#FFF;

				
	}
table.registros tr.row1{
		background:#FFF;

	}